.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
    
}

.LeftSide{
    height: 100vh;
}

.RightSide{
    height: 100vh;
    background-color: #48BEFF !important;
}

.bg-light{
    background-color: #48BEFF !important;
    padding-right: 15px;
}

nav{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: bolder;
    padding-left: 15px;
    margin-right: 15px;
}

.navbar-light .navbar-brand {
    color: white;
    font-family: 'Inter', sans-serif;

}


.RightSide > div > h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 38px;
    font-family: 'Inter', sans-serif;
    position: relative;
    top: 15px;
    right: 10px;
    margin-left: 35px;
    color:white;
}


.LeftSide > div{
    font-family: 'Inter', sans-serif;
    position: relative;
    top: 20px;
    margin-left: 25px;
}


.LeftSide > div > p{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color:black;
}

.card{
    margin-bottom: 15px;
    border: 1px solid grey;
    font-size: 13px;
    font-weight: bold;
    text-transform:capitalize
}




img, svg {
    vertical-align: middle;
    height: 100%;
    width: 100%;
    position: relative;
    top: 28px;
}