body {
  background-color: #121212;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.row > * {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.RightSide {
  background-color: #121212 !important;
  margin: 30px;
}

.navbar-toggler-icon {
  border: 2px solid white;
}

.SideBar {
  height: 100vh;
  background-color: #000000 !important;
}

.bg-light {
  background-color: #000000 !important;
  padding-right: 15px;
  display: none;
}

.Logo > h1 {
  border: 4px solid #10de47;
  border-radius: 5px;
  text-transform: uppercase;
  padding-left: 3px;
  margin-right: 15px;
  margin-left: 15px;
  color: #10de47;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  position: relative;
  top: 17px;
  font-size: 30px;
}

.navbar-toggler {
  border: 2px solid red;
}

.ListLeftNav {
  position: relative;
  top: 50px;
}

.SideBar > div > h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  font-family: "Inter", sans-serif;
  position: relative;
  top: 15px;
  right: 30px;
  margin-left: 35px;
  color: #10de47;
}

.Main-righSide > div {
  font-family: "Inter", sans-serif;
  margin: 15px;
}

.Main-righSide > p {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

.card {
  margin-bottom: 10px;
  border: 1px solid grey;
  font-size: 13px;
  font-weight: bold;
  text-transform: capitalize;
}

.sideBarButton {
  background-color: #000000;
  padding: 0;
  color: white;
  position: relative;
  left: 15px;
  font-size: 15px;
  margin-bottom: 25px;
  cursor: pointer;
  text-transform: capitalize;
}

.line {
  border-bottom: 1px solid #10de47;
  position: relative;
  left: 8px;
}
.libraryLink > .list-group-item {
  margin-top: 22px;
}

.createPlayList > .list-group-item > a {
  background-color: #000000;
  padding: 0;
  color: #10de47;
  font-size: 15px;
}

.createPlayList > .list-group-item > a:hover {
  color: white;
}

.fa-home,
.fa-search,
.fa-heart,
.fa-plus-square,
.fa-id-badge,
.fa-users-cog {
  padding-right: 20px;
  font-size: 20px;
}

.bi-collection-play {
  margin-right: 20px;
}
.fa-heart {
  display: inline;
  color: white;
}

#redColor {
  color: red;
}

.card-img-top {
  height: 160px;
}

.card {
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  background-color: #1a3b14;
  color: white;
  border: 0;
  cursor: pointer;
  width: 200px;
  border-radius: 10px;
}

.card:hover {
  background-color: #202020;
}

.card-body {
  padding-right: 0;
  padding-left: 2px;
  padding-bottom: 12px;
  padding-top: 5px;
}

.songTitle {
  color: white;
  font-size: 34px;
  font-weight: bolder;
  margin-bottom: 3px;
}

.SongName {
  color: #adadad;
  font-size: 12px;
}

a {
  color: #0d6efd;
  text-decoration: none;
}

.list-group-item > a {
  color: white;
  text-decoration: none;
}

.MainBox {
  background-color: #1a3b14;
  color: white;
}

.rounded-0 > .container-fluid > .row > .col-md-3 > img {
  width: 249px;
  height: 180px;
}

.rounded-0 > .container-fluid {
  border: 1px solid #ffffff;
}

.Title-lg {
  width: 633px;
  font-weight: bolder;
}

.Owner-name-and-date {
  font-weight: bolder;
  width: 633px;
  margin-bottom: 0px;
}

.Owner-name-and-date > span {
  font-weight: normal;
}

.react-audio-player {
  border: 2px solid;
  background-color: #f4f4f4;
  box-sizing: content-box;
  width: 99%;
}

.fa-circle {
  font-size: 4px;
  position: relative;
  bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

.DateCreatedAt > time {
  font-weight: 500;
  font-size: 15px;
  color: #6a6a6a;
}

.SongCategory {
  font-weight: 500;
  font-size: 12px;
  color: #6a6a6a;
  text-transform: uppercase;
  margin-bottom: 9px;
  margin-top: 9px;
}

.LikeAndAddToPlayList {
  display: flex;
  justify-content: flex-start;
  margin-top: 16px;
  margin-left: 16px;
}

.LikeAndAddToPlayList > .fa-heart,
.fa-plus,
.bi-three-dots {
  font-size: 30px;
  padding-right: 0px;
  cursor: pointer;
  margin-right: 7px;
  margin-left: 7px;
}

.songBox {
  background-color: #202020;
  color: white;
}

.form-control {
  border-radius: 0px;
  border: 0px solid;
  border-bottom: #10de47;
}

.spinner-border {
  height: 100px;
  width: 100px;
  position: relative;
  top: 168px;
  left: 430px;
}

.hide {
  display: none;
}

.form-Box {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* it center the item vertically */
  justify-content: center;
  /* it center the item horizontally */
}

.Login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-Box > form {
  background-color: #292828;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  width: 400px;
  margin-top: 55px;
  color: white;
  font-weight: bolder;
}

.Login-form > form {
  background-color: #292828;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  width: 400px;
  margin-top: 105px;
  color: white;
  font-weight: bolder;
}

.form-control {
  border-radius: 7px;
}

#emailHelp {
  color: #b2e672;
}

.btn-success,
.btn-success:hover,
.btn-success:focus {
  background-color: #b2e672;
  color: #000000;
  width: 100px;
  color: black;
  text-transform: uppercase;
}

.form-check-input:checked {
  background-color: #ff0000;
  border-color: #ffffff;
}

form > a > .Logo > h1 {
  position: relative;
  top: -2px;
  right: 13px;
  width: 368px;
}

#error-message {
  color: #ff0000;
}

.fa-github {
  color: white;
  font-size: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* it center the item vertically */
  justify-content: center;
  padding-bottom: 5px;
}

.signUpAndSignInPage {
  color: white;
  font-weight: lighter;
}

.link {
  color: #0d6efd;
  cursor: pointer;
  margin-left: 3px;
}

.link:hover {
  border-bottom: 1px solid #0d6efd;
}

.accountCreated {
  display: flex;
  justify-content: center;
  color: #22ff60;
  font-size: larger;
  font-weight: 300;
  text-transform: uppercase;
}

.signUpAndSignIn {
  margin-top: 20px;
}
.modal-header {
  padding-bottom: 10px;
  border-bottom-color: white;
}

.modal-body {
  color: #000000;
  padding-top: 0px;
}
.searchInput {
  border: 1px solid #22ff60;
  border-radius: 5px;
  height: 50px;
}

.input-group-text > .fa-search {
  position: relative;
  left: 10px;
}

.searchInput > .input-group-text {
  background-color: white;
  color: #3abd5f;
  border: 0px solid #ced4da;
  background-color: #1a3b14;
}

.DocSearch-Hit-source {
  font-weight: bold;
  color: #3abd5f;
}

.searchedData,
.playListData {
  margin-top: 14px;
}

.searchedData > .list-group-item {
  display: flex;
  align-items: center;
  background-color: #1a3b14;
  height: 49px;
  font-size: 13px;
  font-weight: bold;
  color: white;
}

.playListData > .list-group-item {
  display: flex;
  align-items: center;
  background-color: #282828;
  height: 49px;
  font-size: 13px;
  font-weight: bold;
  color: white;
}

.searchedData > .list-group-item:hover {
  background-color: #202020;
}

.DocSearch-NoResults {
  display: contents;
  justify-content: center;
}

.DocSearch-Screen-Icon {
  display: flex;
  justify-content: center;
}
.mainPlayList {
  color: white;
}
.backgroundColorCreatePlayList {
  background-color: #202020;
}

.backgroundColorCreatePlayList > .row > .col-3 > img {
  max-width: 87%;
  height: 197px;
}

.backgroundColorCreatePlayList > .row > .col-9 > .playList {
  font-weight: 700;
  text-transform: uppercase;
}

.backgroundColorCreatePlayList > .row > .col-9 > .playlistInput {
  font-size: 12px;
  font-size: 90px;
  text-transform: capitalize;
  font-weight: 800;
  cursor: pointer;
}

.backgroundColorCreatePlayList > .row > .col-9 > .username {
  font-weight: 700;
  text-transform: capitalize;
}

.songsToAddPlayList {
  margin: 20px;
  border-top: 1px solid #202020;
  padding-top: 20px;
}

.songsToAddPlayList > .row > .col-4 > p {
  font-weight: bolder;
  font-size: larger;
}

.dropdown-menu {
  border-radius: 0px;
  background-color: #202020;
  color: white;
}

.dropdown-menu > li {
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  cursor: pointer;
}

.bi-pen-fill,
.bi-archive-fill {
  margin-right: 15px;
}

.DeleteButton {
  color: red;
}

.songsToAddPlayList > .row > .col-4 > .input-group > .input-group-text {
  background-color: #202020;
  color: white;
  border: 1px;
  border-radius: 3px;
}

.songsToAddPlayList > .row > .col-4 > .input-group > input {
  background-color: #202020;
  color: white;
  border-radius: 3px;
}

.songsToAddPlayList > .list-group {
  margin-top: 12px;
}

.songsToAddPlayList > .list-group > .list-group-item {
  display: flex;
  justify-content: space-between;
  background-color: #0f0f0f;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  cursor: pointer;
}

.songsToAddPlayList > .list-group > .list-group-item:hover {
  background-color: #202020;
}

.songsToAddPlayList > .list-group > .list-group-item > .songInfo > img {
  height: 35px;
  width: 45px;
  margin-right: 12px;
}

.playlistName > input {
  background-color: #2c2c2c;
  color: white;
  border-radius: 3px;
}

.playlistName > input:focus {
  background-color: #2c2c2c;
  color: white;
  border-radius: 3px;
}

.playlistDescription > textarea {
  background-color: #2c2c2c;
  color: white;
  border-radius: 3px;
  height: 90px;
}

.playlistDescription > textarea:focus {
  background-color: #2c2c2c;
  color: white;
  border-radius: 3px;
}

.songDetails {
  display: grid;
}

.songDetails > .songName {
  font-weight: bolder;
}

.songDetails > .ArtistName {
  color: gray;
  font-size: 13px;
  text-transform: uppercase;
}

.songInfo {
  font-size: small;
}

.AddButton {
  display: flex;
  align-self: center;
  margin-right: 5px;
  border: 1px solid #ffffff;
  padding: 9px;
  border-radius: 8px;
  cursor: pointer;
}

.AddButton:hover {
  background-color: #1a3b14;
}

.EditPlayList > .modal-content {
  background-color: #202020;
}

.allPlayList > .modal-dialog > .modal-content {
  background-color: #202020;
  color: white;
}

.EditPlayList > .modal-content > .modal-body > .row {
  margin-top: 25px;
}

.EditPlayList > .modal-content > .modal-body > .row > .col-4 > img {
  height: 140px;
  width: 144px;
}

.EditPlayList > .modal-content > .modal-header > .modal-title {
  font-weight: bold;
}

.EditAndDeleteButton {
  color: white;
}
@media only screen and (max-width: 1200px) {
  /*Tablets [601px -> 1200px]*/
}

@media only screen and (max-width: 767px) {
  /*Tablets [601px -> 1200px]*/

  .bg-light {
    display: block !important;
    display: flex;
    justify-self: end;
  }

  .SideBar {
    display: none !important;
    background-color: #10de47;
  }
}

@media only screen and (max-width: 767px) {
  /*Tablets [601px -> 1200px]*/

  .bg-light {
    display: block !important;
  }

  .SideBar {
    display: none !important;
    background-color: #10de47;
  }
}

@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
}
@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
}
