.container-fluid{
  padding-right: 0px;
  padding-left: 0px;
}

.row {
  margin-right: 0px;
  margin-left: 0px;    
}

.row > *{
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.RightSide{
  height: 100vh;
  background-color: #121212 !important;
}

.navbar-toggler-icon{
  border: 2px solid white;
}

.LeftSide{
  height: 100vh;
  background-color: #000000 !important;
}

.bg-light{
  background-color: #000000 !important;
  padding-right: 15px;
}

.Logo{
  text-transform: uppercase;
  font-weight: bolder;
  padding-left: 15px;
  margin-right: 15px;
}

.Logo {
  color: #10de47;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  position: relative;
  top: 22px;
  left: 53px;
  font-size: 22px;
  font-weight: bolder
}

.navbar-toggler{
  border: 2px solid red;
}

.ListLeftNav{
  position: relative;
  top: 50px;
}

.LeftSide > div > h2{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Inter', sans-serif;
  position: relative;
  top: 15px;
  right: 30px;
  margin-left: 35px;
  color:#10de47;
}


.RightSide > div{
  font-family: 'Inter', sans-serif;

}


.RightSide > div > p{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  color:#ffffff;
  margin-bottom: 35px;
}

.card{
  margin-bottom: 10px;
  border: 1px solid grey;
  font-size: 13px;
  font-weight: bold;
  text-transform:capitalize
}


.list-group-item{
  background-color: #000000;
  padding: 0;
  color: white;
  position: relative;
  left: 15px;
  width: 150px;
  font-size: 15px;
  margin-bottom: 25px;
  cursor: pointer;
}


.line{
  border-bottom: 1px solid #10de47;;
  position: relative;
  left: 13px;
  width: 195px;
}

.createPlayList > .list-group-item{
  background-color: #000000;
  padding: 0;
  padding-top: 25px;
  color:#10de47;
  position: relative;
  left: 15px;
  width: 150px;
  font-size: 15px;
}

.createPlayList > .list-group-item:hover{
  color: white;
}


.fa-home, .fa-search, .fa-book, .fa-heart, .fa-plus-square, .fa-id-badge{
  padding-right: 20px;
  font-size: 25px;
}

.Main{
  margin: 30px;
}

.card-img-top {
  height: 160px;
}

.card {
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  background-color: #181818;
  color: white;
  border: 0;
  cursor: pointer; 
  /* width: 200px;  */
  border-radius: 10px;
}


.card:hover{
  background-color: #202020;
}

.card-body{
  padding-right: 0;
  padding-left: 2px;
  padding-bottom: 25px;
}

.ArtistName{
  color: white;
  font-size: 15px;
  font-weight: bolder;
  margin-bottom: 3px;
}

.SongName{
  color: #adadad;
  font-size: 12px;
}

.Songs{
  margin-right: 20px;
}